@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 225, 220, 225;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    font-size: 20px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.animate-shine {
  animation: shine 4s ease-in-out infinite;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

.bg-gradient-rotate {
  animation: rotation 5s linear infinite;
  background-image: conic-gradient(
    from var(--gradient-angle),
    var(--tw-gradient-stops)
  );
}

.colorful-text {
  background: linear-gradient(122.25deg, rgb(244, 63, 94) 30%, #eab308);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shine {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(150%);
  }

  to {
    filter: brightness(100%);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 1s ease-in-out;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
}

.animate-dash {
  animation: dash 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

.animate-spin-slow {
  animation: spin 60s linear infinite;
}

.animate-shimmer {
  animation: shimmer 4s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-fancy {
  animation: fade-up 1s ease-in-out, shine 4s ease-in-out infinite;
}
